<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Action Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="center-container">
        <h1>Selected Action: {{ action }}</h1>

        {% if action == 'train' %}
            <h1>🧠 Train Face Recognition Model</h1>
            <form method="POST" action="{{ url_for('start_train') }}">
                <button type="submit">Start Training</button>
            </form>

        {% elif action == 'mark' %}
            <h1>📸 Mark Attendance</h1>
            <form method="POST" action="{{ url_for('start_mark') }}">
                <button type="submit">Start Marking Attendance</button>
            </form>

        {% elif action == 'download' %}
            <h1>📥 Download Attendance Report</h1>
            <form method="POST" action="{{ url_for('download_pdf') }}">
                <button type="submit">Download PDF</button>
            </form>

        {% elif action == 'upload' %}
            <h1>Upload Student Image </h1>
            <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
                <label for="bucket_name">Enter S3 Bucket Name:</label><br>
                <input type="text" name="bucket_name" id="bucket_name" placeholder="e.g., my-student-bucket" required><br><br>

                <label for="er_number">ER Number:</label><br>
                <input type="text" name="er_number" id="er_number" placeholder="e.g., 210123456789" required><br><br>

                <label for="name">Student Name:</label><br>
                <input type="text" name="name" id="name" placeholder="e.g., John Doe" required><br><br>

                <label for="images">Select Images:</label><br>
                <input type="file" name="images" id="images" accept="image/*" multiple required><br><br>

                <input type="submit" value="Upload">
            </form>

            {% if results %}
                <div class="upload-summary-scroll">
                    <h3>Uploaded Files</h3>
                    <ul>
                        {% for item in results %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        {% else %}
            <p>Invalid action selected.</p>
        {% endif %}

        <a href="{{ url_for('home') }}" class="back-home-link">← Back to Home</a>
    </div>
</body>

</html>
